@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #c9c9c9;
}


::-webkit-scrollbar-thumb {
  background: rgb(147, 14, 255);
  border-radius: 20px;
}

body{
  font-family: 'Open Sans', sans-serif;
}
