
*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #c9c9c9;
}

body{
  overflow-x: hidden;
}


::-webkit-scrollbar-thumb {
  background: rgb(147, 14, 255);
  border-radius: 20px;
}

.logout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.logout > button{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border: none;
  transition: all 0.1s ease-in;
}

.logout > button:hover{
  padding: 15px;
  background-color: red;
  transition: all 0.2s ease-in-out;
}


